body { 
  margin: 0px;
  padding: 0px;
}

ul{  /* referente ao menu em si /
  position: relative;
  border: double black;
  background: lightblue; 
  margin: 0px;
  padding: 0px;
}

ul li{ / referente aos itens do menu / 
  display: inline-block;
}
ul li a{  / referente aos links dos itens */ 
  text-decoration: none;
  color: white;
  padding: 15px;
  display: block;
}
ul li:hover{
  background: lightgray;

}
ul ul{ 
  position: absolute;
  min-width: 200px; 
  display: none;
  background: lightgray;
}
ul ul li{ 
  display: block;
  background: #e3e3e3;
}
ul li:hover ul{
  display: block;
}
.figures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  grid-gap: 2.6rem;
}
figure{
  height: 4rem;
  margin-left: 60px;

  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}