* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.main {
  width: 100%;
  height:100%;

  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main .form-element {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;

  align-items: center;
}

.main .form-element input {
  width: 20rem;
  height: 3rem;

  font-size: 1.4rem;

  padding-left: 2rem;

  border-radius: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main .btn {
  width: 30rem;
  height: 5rem;

  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;

  border: 0;
  border-radius: 1.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .result {
  font-size: 2.2rem;
}