#conteudo {
  width: 900rem;
}

#tabela {
  font-family: Helvetica, sans-serif;
  width: 60rem;
  border-collapse: collapse;
}

#tabela td, #tabela th {
  border: 1px solid #ddd;
  padding: 0.5rem 0.8rem
}

#tabela th {
  color: #ffffff;
  background: #828282;
}

#tabela tr:hover {
  background: #878787
}