* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

body {
  width: 95vw;
  height: 90vh;

  margin: auto;

  font-family: Nunito, sans-serif;

  background: #ada8a8;

  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;

  /* outline: blue 2px solid; /* borda externa azul de 2px de espessura */
  /* padding: 10px; /* espaçamento interno de 10 pixels */
  /* width: 400px; /* largura do formulário */
  /* margin: 40px auto; /*espaçamento esterno de 40 pixels dentralizado */
}

#menu .menu {
  width: 60rem;
  height: 3rem;

  margin-top: 2rem;


  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu .menu li {
  list-style: none;
}

#menu .menu li a {
  font-size: 1.2rem;
  font-weight: 600;

  transition: 8;
}

#menu .menu li a:hover {
  font-size: 1.4rem;
  font-weight: 600;
}

#menu .menu li a:focus {
  outline: none;
}

#menu .menu li .menu-suspenso {
  position: relative;
  display: inline-block;
}

#menu .menu li .menu-suspenso:hover .conteudo-menu-suspenso {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#menu .menu li .menu-suspenso .conteudo-menu-suspenso {
  width: 7.5rem;
  position: absolute;
  display: none;
  min-height: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
}

main {
  height: 15rem;

  margin-top: 3rem;
  padding: 0 10rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main h1 {
  width: 50rem;

  display: flex;
  justify-content: center;
}